.photo{
    display: flex;
    justify-content: center;
}
.motto{
    text-align: center;
    color: #fff;
    padding: 40px 0;
    max-width: 90%;
    margin: 0 auto;
}
p{
    text-align: center;
    color: #fff;
}
body,html{
    height: 100%;
    margin: 0;
    background: #87b0a5
}
.page_first{
    height: 100%;
    text-align: center;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
    align-items: center;
    margin-bottom: 20px;
}
.line{
    width: 70%;
    height: 1px;
    background: #fff;
    margin: 0 auto;
}
.down_title{
    color: #fff;
}
.zhong{
    width: 30px;
    height: 30px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    line-height: 30px;
}
.ying{
    width: 30px;
    height: 30px;
    color: #000;
    border-radius: 50%;
    line-height: 30px;
}
.swich_language{
    background: rgba(0,0,0,0.1);
    border-radius: 25px;
    width: 60px;
    height: 30px;
    position: relative;
    display: flex;
}
.qrcode_div{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.weixin_icon{
    width: 45px;
    height: 45px;
    background: url(images/weixin.png);
    background-repeat: no-repeat;
    background-size: 45px;
    display: block;
}
.github_icon{
    width: 45px;
    height: 45px;
    background: url(images/github.png);
    background-repeat: no-repeat;
    background-size: 45px;
    display: block;
    margin: 0 50px;
}
.qq_icon{
    width: 45px;
    height: 45px;
    background: url(images/qq.png);
    background-repeat: no-repeat;
    background-size: 45px;
    display: block;
}
