.photo{
    display: flex;
    justify-content: center;
}
.motto{
    text-align: center;
    color: #fff;
    padding: 40px 0;
    max-width: 90%;
    margin: 0 auto;
}
p{
    text-align: center;
    color: #fff;
}
body,html{
    height: 100%;
    margin: 0;
    background: #87b0a5
}
.page_first{
    height: 100%;
    text-align: center;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
    align-items: center;
    margin-bottom: 20px;
}
.line{
    width: 70%;
    height: 1px;
    background: #fff;
    margin: 0 auto;
}
.down_title{
    color: #fff;
    font-size: 18px;
}
.button{
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: 10px;
}
.play{
    background: url(images/pause.png) no-repeat center/10px;
}
.pause{
    background: url(images/play.png) no-repeat center/10px;
}
.status{
    width: 20px;
    height: 20px;
    background: url(images/playing.jpg) no-repeat;
    background-position: center;
    background-size: 10px;
}
.musicPlayer{
    background: rgba(0,0,0,0.1);
    height: 20px;
    position: relative;
    display: flex;
}
.qrcode_div{
    display: flex;
    justify-content: center;
    bottom: 5%;
    position: absolute;
    width: 100%;
}
.weixin_icon{
    width: 45px;
    height: 45px;
    background: url(images/weixin.png);
    background-repeat: no-repeat;
    background-size: 45px;
    display: block;
}
.github{
    position: relative;
}
.github_icon{
    position: absolute;
    width: 45px;
    height: 45px;
    background: url(images/github.png);
    background-repeat: no-repeat;
    background-size: 45px;
    display: block;
    bottom: 0;
    left: -18px;
}
.qq_icon{
    width: 45px;
    height: 45px;
    background: url(images/qq.png);
    background-repeat: no-repeat;
    background-size: 45px;
    display: block;
}
.weixin_img{
    width: 150px;
    height: 150px;
    opacity: 0;
}
.weixin_icon:hover + .weixin_img{
    opacity: 1;
}
.qq_icon:hover + .qq_img{
    opacity: 1;
}
.qq_img{
    width: 150px;
    height: 150px;
    opacity: 0;
}
.weixin{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.qq{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#right{
    position: absolute;
    color: #fff;
    font-size: 50px;
    opacity: 0;
    cursor: pointer;
    right: 2%;
    top: 50%;
}
#left{
    position: absolute;
    color: #fff;
    font-size: 50px;
    opacity: 0;
    cursor: pointer;
    left: 2%;
    top: 50%;
}
#left:hover{
    opacity: 1;
}
#right:hover{
    opacity: 1;
}
.page_two{
    display: none;
}
.content{
    display: block;
    float: right;
    margin: 50px 0 60px;
    padding: 0 3% 0 4%;
    border: solid 2px #fff;
    border-width: 0 0 0 1px;
    width: 60%;
}
h5{
    color: #fff;
    font-weight: bolder;
    line-height: 28px;
    margin-bottom: 16px;
    font-size: 22px;
}
.content p{
    padding-bottom: 25px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    border: solid 1px #fff;
    border-width: 0 0 1px;
    line-height: 22px;
    text-align: left;
    max-width: 90%;
}
.pic{
    position: absolute;
    left: 4%;
    display: flex;
    flex-direction: column;
}
.page_three{
    display: none;
}
#demo_content_list{
    margin: 50px auto 80px;
    width: 1000px;
    height: 200px;
}
.demo_box{
    list-style: none;
}
.demo_box li {
    z-index: 2;
    width: 200px;
    height: 180px;
    margin: 50px;
    float: left;
    position: relative;
    outline: 2px solid #efefef;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
    background: #fff;
}
.demo_box_hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #87b0a5;
}
#demo_info{
    padding-top: 50px;
    border-top: 1px solid #fff;
    width: 90%;
    margin: 0 auto;
}
.demo_box_title{
    margin: 10px;
}
.md-trigger{
    color: #fff;
    font-weight: bold;
    font-style: italic;
}
